# Environment variables
.env

# Python
__pycache__/
*.pyc
*.egg-info/

# Virtual environment
venv/

# Spark
checkpoints/

# Editor
.vscode/
.DS_Store

# Streamlit secrets
dashboard/.streamlit/secrets.toml